<!DOCTYPE html>
<html>
  <head>
    <title>Please enter a sentence and a word to match</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='Content/css/styles.css'>
  </head>
  <body>
  <div class="container">
    <h1>Hello! Enter a sentence and a word to match and we will count the number of matches in the sentence. Wow!</h1>
    <form action="/results" method="post">
      <input type="text-field" name="sentence" placeholder="Enter a sentence"></input>
      <input type="text-field" name="userWord" placeholder="Enter a word to count"></input>
      <button type="submit" name="submit">Submit</button>
    </form>
  </div>
  </body>
</html>