<!DOCTYPE html>
<html>
  <head>
    <title>Please enter a sentence and a word to match</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='Content/css/styles.css'>
  </head>
  <body>
  <div class="container">
    <h1>Hello! Enter a sentence and a word to match and we will count the number of matches in the sentence. Wow!</h1>
    <form action="/results" method="post">
    <div class="row">
      <div class="col-sm-6">
        <div class="center">
          <input type="text-field" name="sentence" placeholder="Enter a sentence" size="40"></input>
        </div>
        <div class="center">
          <input type="text-field" name="userWord" placeholder="Enter a word to match" size="25"></input>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="center">
           <button type="submit" class="btn btn-danger btn-circle btn-xl" name="submit">Submit</button>
        </div>
      </div>
    </div>
    </form>
  </div>
  </body>
</html>